<div class="alert alert-success" role="alert">
  Login component!
</div>

<button 
  class="btn btn-outline-warning" 
  (click)="login(Role.User)">Login as User</button>

<button 
  class="btn btn-outline-danger" 
  (click)="login(Role.Admin)">Login as Admin</button>

  <button 
  class="btn btn-outline-primary" 
  (click)="login(Role.Farmer)">Login as Farmer</button>

  <button 
  class="btn btn-outline-success" 
  (click)="login(Role.Vendor)">Login as Vendor</button>

  <button 
  class="btn btn-outline-dark" 
  (click)="login(Role.Department)">Login as Department</button>