<header class="navbar navbar-expand navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>

      <!-- Authorized only -->
      <li class="nav-item" *ngIf="isAuthorized">
        <a class="nav-link" [routerLink]="['profile']">Profile</a>
      </li>

      <!-- Admin only -->
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link" [routerLink]="['admin', 'dashboard']">Dashboard</a>
      </li>

       <!-- Farmer only -->
       <li class="nav-item" *ngIf="isFarmer">
        <a class="nav-link" [routerLink]="['farmer', 'application']">Application</a>
      </li>

       <!-- Department only -->
       <li class="nav-item" *ngIf="isDepartment">
        <a class="nav-link" [routerLink]="['department', 'dashboard']">Dashboard</a>
      </li>

       <!-- Vendor only -->
       <li class="nav-item" *ngIf="isVendor">
        <a class="nav-link" [routerLink]="['vendor', 'orders']">Orders</a>
      </li>

      <!-- Anonymous only -->
      <li class="nav-item" *ngIf="!isAuthorized">
        <a class="nav-link" [routerLink]="['login']">Login</a>
      </li>

      <!-- Authorized only -->
      <li class="nav-item" *ngIf="isAuthorized">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>

    <span class="navbar-text">
      <span class="badge badge-warning" *ngIf="isAuthorized">Authorized</span>
      <span class="badge badge-danger" *ngIf="isAdmin">Admin</span>
      <span class="badge badge-primary" *ngIf="isFarmer">Farmer</span>
      <span class="badge badge-success" *ngIf="isVendor">Vendor</span>
      <span class="badge badge-dark" *ngIf="isDepartment">Department</span>
    </span>
</header>

<div class="jumbotron">
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>

